<div class="container-fluid">
	<div class="row">
		<% @users.each do |user| %>
			<div class="col-sm-2">
				<div class=" border border-dark rounded h-100 text-center">
					  <%= user.user_name %><br>
						<%= link_to user_path(user) do %>
						  <%= attachment_image_tag user, :profile_image, size:'60x60', class: "w-50 px-1 mx-auto d-block" %><br>
					  <% end %>

					  <% if current_user.following?(user) %>
					  	<%= link_to 'フォローをやめる', user_relationships_path(user), method: :delete, class: "align-bottom text-danger" %>
						<% else %>
					  	<%= link_to 'フォローする', user_relationships_path(user), method: :post, class: "" %>
					  <% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>